# Actividades Clase 3

#### Ejercitación de datos simples y complejos con Jupiter Notebook, Git y Github

Ejercicios de Datos Complejos:
1. Datos Simples:

Crear una lista de nombres de ciudades.

In [26]:
ciudades_argentinas = ["Rosario", "Ushuaia", "Rio Grande", "El Calafate", "San Rafael"]
print(ciudades_argentinas)

['Rosario', 'Ushuaia', 'Rio Grande', 'El Calafate', 'San Rafael']

Crear un diccionario con información de empleados (nombre, cargo, salario).

In [27]:
empleados = {
    "empleado1": {
        "nombre": "Juan Luzuriaga",
        "cargo": "Data Engineer",
        "salario": 50000
    },
    "empleado2": {
        "nombre": "María Sanchez",
        "cargo": "Data Analyst",
        "salario": 30000
    },
    "empleado3": {
        "nombre": "Pedro García",
        "cargo": "Data Scientist",
        "salario": 40000
    }
}

print(empleados)

{'empleado1': {'nombre': 'Juan Luzuriaga', 'cargo': 'Data Engineer', 'salario': 50000}, 'empleado2': {'nombre': 'María Sanchez', 'cargo': 'Data Analyst', 'salario': 30000}, 'empleado3': {'nombre': 'Pedro García', 'cargo': 'Data Scientist', 'salario': 40000}}

Mostrar cómo acceder a un elemento específico en una lista y en un diccionario.

In [28]:
print(ciudades_argentinas[2])

Rio Grande

In [29]:
print(empleados["empleado1"]["cargo"])

Data Engineer

1. Manipulación de Listas y Métodos:

Crea una lista inicial de números enteros.

In [30]:
numeros = [1,3,5,7,9,11,13,15,17,19,21]
print(numeros)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

Utiliza el método .append() para agregar un número al final de la lista.

In [31]:
numeros.append(23)
print(numeros)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Utiliza el método .extend() para agregar múltiples elementos a la lista.

In [32]:
numeros.extend([2,4,6,8])
print(numeros)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 2, 4, 6, 8]

Utiliza el método .insert() para insertar un número en una posición específica de la lista.

In [33]:
numeros.insert(5,10)
print(numeros)

[1, 3, 5, 7, 9, 10, 11, 13, 15, 17, 19, 21, 23, 2, 4, 6, 8]

Muestra cómo utilizar el método .sort() para ordenar la lista de números de forma ascendente.

In [34]:
numeros.sort()
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 21, 23]

2. Manipulación de Diccionarios y Métodos:

Crea un diccionario con información de productos (nombre del producto, precio, cantidad en stock).

In [36]:
productos = {
    "articulo1" : {
        "nombre del producto" : "Botines",
        "precio" : "80000",
        "cantidad de stock" : 200,
    },
    "articulo2" : {
        "nombre del producto" : "Medias",
        "precio" : "8000",
        "cantidad de stock" : 250,
    },
    "articulo3" : {
        "nombre del producto" : "Canilleras",
        "precio" : "12000",
        "cantidad de stock" : 150,
    }
}

print(productos)

{'articulo1': {'nombre del producto': 'Botines', 'precio': '80000', 'cantidad de stock': 200}, 'articulo2': {'nombre del producto': 'Medias', 'precio': '8000', 'cantidad de stock': 250}, 'articulo3': {'nombre del producto': 'Canilleras', 'precio': '12000', 'cantidad de stock': 150}}

Utiliza el método .keys() para obtener una lista de las llaves (nombres de productos) en el diccionario.

In [42]:
claves = productos.keys()
print(claves)

dict_keys(['articulo1', 'articulo2', 'articulo3'])

Utiliza el método .values() para obtener una lista de los valores (precios y cantidades) en el diccionario.

In [39]:
valores = productos.values()
print(valores)

dict_values([{'nombre del producto': 'Botines', 'precio': '80000', 'cantidad de stock': 200}, {'nombre del producto': 'Medias', 'precio': '8000', 'cantidad de stock': 250}, {'nombre del producto': 'Canilleras', 'precio': '12000', 'cantidad de stock': 150}])

Utiliza el método .items() para obtener una lista de tuplas con pares clave-valor del diccionario.

In [40]:
items_productos = productos.items()
print(items_productos)

dict_items([('articulo1', {'nombre del producto': 'Botines', 'precio': '80000', 'cantidad de stock': 200}), ('articulo2', {'nombre del producto': 'Medias', 'precio': '8000', 'cantidad de stock': 250}), ('articulo3', {'nombre del producto': 'Canilleras', 'precio': '12000', 'cantidad de stock': 150})])

Muestra cómo utilizar el método .get() para obtener el precio de un producto específico del diccionario.

In [51]:
nombre_prod = productos.get("articulo3").get("nombre del producto")
precio = productos.get("articulo3").get("precio")
print(f"El precio de {nombre_prod} es: ${precio}")

El precio de Canilleras es: $12000

2. Datos Complejos:

Crear una lista de diccionarios que represente información de libros (título, autor, año de publicación).

In [53]:
libros = {
    "book1" : {"titulo":"Cien años de soledad", "autor":"Gabriel Garcia Marquez", "publicado":"1967"},
    "book2" : {"titulo":"1984", "autor":"George Orwell", "publicado":"1949"},
    "book3" : {"titulo":"El Señor de los Anillos", "autor":"J.R.R Tolkien", "publicado":"1955"}
}
print(libros)

{'book1': {'titulo': 'Cien años de soledad', 'autor': 'Gabriel Garcia Marquez', 'publicado': '1967'}, 'book2': {'titulo': '1984', 'autor': 'George Orwell', 'publicado': '1949'}, 'book3': {'titulo': 'El Señor de los Anillos', 'autor': 'J.R.R Tolkien', 'publicado': '1955'}}

Crear un diccionario que contenga listas como valores (por ejemplo, un diccionario de estudiantes y sus materias).

In [55]:
autos = {
    "Toyota": ["Corolla", "Camry", "Hilux"],
    "Honda": ["Civic", "City", "Fit"],
    "Fiat": ["Argo","Cronos","Fiorino"]
}
print(autos)

{'Toyota': ['Corolla', 'Camry', 'Hilux'], 'Honda': ['Civic', 'City', 'Fit'], 'Fiat': ['Argo', 'Cronos', 'Fiorino']}

Mostrar cómo modificar un valor en una lista dentro de un diccionario y viceversa.

In [57]:
alumnos_materias = {
    "Alumno1": ["Matematicas", "Ingles", "Fisica"],
    "Alumno2": ["Programacion", "Ingles", "Biologia"],
    "Alumno3": ["Arte","Ciencia de Datos","Etica"]
}

alumnos_materias["Alumno2"][1] = "Base de Datos"
print(alumnos_materias)

{'Alumno1': ['Matematicas', 'Ingles', 'Fisica'], 'Alumno2': ['Programacion', 'Base de Datos', 'Biologia'], 'Alumno3': ['Arte', 'Ciencia de Datos', 'Etica']}